.edit-panel {
  position: relative;
  .edit-panel--opened & {
    z-index: 9;
  }
}

.edit-panel-link {
  cursor: pointer;
  color: $link-color;
  display: inline-block;
  border-bottom: dashed 1px currentColor;
}

.edit-panel-form {
  position: absolute;
  left: 0;
  top: -5px;
  white-space: nowrap;
  display: none;
  .edit-panel--opened & {
    display: block;
  }
}